@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat-Regular.otf);
}
@font-face {
    font-family: MHairline;
    src: url(fonts/Montserrat-Hairline.otf);
}
@font-face {
    font-family: MULight;
    src: url(fonts/Montserrat-UltraLight.otf);
}
@font-face {
    font-family: MLight;
    src: url(fonts/Montserrat-Light.otf);
}